<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xiaoma.mybatis.mapper.UserMapper">
	<select id="findUserById" parameterType="int" resultType="com.xiaoma.mybatis.pojo.User">
		select * from user where id = #{id}
	</select>
		<!-- 自定义条件查询用户列表 -->
	<select id="findUserByUsername" parameterType="String" resultType="com.xiaoma.mybatis.pojo.User">
	   select * from user where username like '%${value}%' 
	</select>
	
	<!-- 添加用户 -->
	<insert id="insertUser" parameterType="com.xiaoma.mybatis.pojo.User">
	
		<selectKey order="AFTER" resultType="int" keyProperty="id">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into user(username,birthday,sex,address) 
		values(#{username},#{birthday},#{sex},#{address})
	</insert>
	
	<!-- 删除用户 -->
	<delete id="deleteUserById" parameterType="int">
		delete from user where id=#{id}
	</delete>
	
	<!-- 更新用户 -->
	<update id="updateUser" parameterType="com.xiaoma.mybatis.pojo.User">
		update user set username=#{username},birthday=#{birthday},sex=#{sex},address=#{address}
		where id=#{id}
	</update>
	
	
	
</mapper>
